In [1]:
import pandas as pd

In [2]:
commercial = pd.read_csv("data/commercial_with_xy.csv")
building = pd.read_csv("data/outer.csv")

In [3]:
commercial.columns

Index(['기준_년_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_생활인구_수',
       '집객시설_수', '아파트_평균_면적', '아파트_평균_시가', '상권_변화_지표', '상권_변화_지표_명',
       '운영_영업_개월_평균', '폐업_영업_개월_평균', '서울_운영_영업_개월_평균', '서울_폐업_영업_개월_평균', '구분',
       '점포_수', '매출_금액', '매출_건수', '엑스좌표_값', '와이좌표_값'],
      dtype='object')

In [72]:
commercial = commercial[['상권_코드_명','총_생활인구_수','집객시설_수','점포_수','아파트_평균_면적','아파트_평균_시가','서울_운영_영업_개월_평균','서울_폐업_영업_개월_평균','매출_건수', "매출_금액",'구분', '엑스좌표_값', '와이좌표_값']]
commercial = commercial.drop_duplicates()
commercial.rename(columns={'서울_운영_영업_개월_평균': '영업_개월_평균', '서울_폐업_영업_개월_평균':'폐업_개월_평균','구분':'업종_명'},inplace=True)
commercial = commercial.reset_index(drop=True)

In [73]:
import numpy as np

commercial['아파트시가_log'] = np.log(commercial['아파트_평균_시가'])
commercial['매출_log'] = np.log(commercial['매출_금액'])
commercial.drop(["아파트_평균_시가", "매출_금액"], axis = 1, inplace = True)

In [74]:
df = commercial[["총_생활인구_수", "집객시설_수", "점포_수", "아파트_평균_면적", "아파트시가_log", "영업_개월_평균", "폐업_개월_평균", "매출_건수", "매출_log"]]
_store = commercial[["총_생활인구_수", "집객시설_수", "점포_수", "아파트_평균_면적", "아파트시가_log", "영업_개월_평균", "폐업_개월_평균", "매출_건수", "매출_log"]]

from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
fitted = min_max_scaler.fit(_store)
_store = min_max_scaler.transform(_store)
_store = pd.DataFrame(_store, columns=df.columns, index=list(df.index.values))

commercial = pd.concat([_store, commercial[["업종_명", "엑스좌표_값", "와이좌표_값"]]], axis = 1)

commercial

,총_생활인구_수,집객시설_수,점포_수,아파트_평균_면적,아파트시가_log,영업_개월_평균,폐업_개월_평균,매출_건수,매출_log,업종_명,엑스좌표_값,와이좌표_값
0,0.011988,0.039963,0.002199,0.407273,0.586734,0.03,0.05,0.000119,0.573357,개인_서비스업,196193,456641
1,0.011988,0.039963,0.002426,0.407273,0.586734,0.03,0.05,0.000050,0.564594,교육_및_사업자원_서비스업,196193,456641
2,0.011988,0.039963,0.001858,0.407273,0.586734,0.03,0.05,0.000029,0.458945,기타_도소매업,196193,456641
3,0.011988,0.039963,0.002862,0.407273,0.586734,0.03,0.05,0.000107,0.571059,생활용품_도소매업,196193,456641
4,0.011988,0.039963,0.000455,0.407273,0.586734,0.03,0.05,0.000262,0.655667,수리업,196193,456641
...,...,...,...,...,...,...,...,...,...,...,...,...
105193,0.079773,0.031599,0.000322,0.010909,0.391673,0.93,0.90,0.000092,0.577112,숙박업,200025,451782
105194,0.079773,0.031599,0.000474,0.010909,0.391673,0.93,0.90,0.000112,0.523103,스포츠_및_오락_서비스업,200025,451782
105195,0.079773,0.031599,0.031523,0.010909,0.391673,0.93,0.90,0.044199,0.817431,식료품_도소매업,200025,451782
105196,0.079773,0.031599,0.004606,0.010909,0.391673,0.93,0.90,0.005730,0.702630,음식점_및_주점업,200025,451782
105197,0.079773,0.031599,0.004758,0.010909,0.391673,0.93,0.90,0.015478,0.780934,제조업,200025,451782

In [75]:
building.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0',
       '관리_건축물대장_PK', '관리_상위_건축물대장_PK', '새주소_지상지하_코드', '주소', '지상층수', '지하층수',
       '승강기_수', '주건축물수', '세대수', '가구수', '동명칭', '호_명', '층_구분_코드_x', '층_구분_코드_y',
       '층_번호', '면적', '용적율', '주차_대수', 'y', 'x', 'commercial_row'],
      dtype='object')

In [76]:
x1 = building["x"][1]
y1 = building["y"][1]
(x1, y1)

(37.489084, 126.9731714)

In [77]:
commercial.iloc[:, -2:]

        엑스좌표_값  와이좌표_값
0       196193  456641
1       196193  456641
2       196193  456641
3       196193  456641
4       196193  456641
...        ...     ...
105193  200025  451782
105194  200025  451782
105195  200025  451782
105196  200025  451782
105197  200025  451782

[105198 rows x 2 columns]

In [78]:
import math

def get_distance(point1, point2):
    x1, y1 = point1
    x2, y2 = point2
    return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

In [79]:
import geopandas as gpd

def convert_coordinates(df):
    # 좌표 변환
    geometry = gpd.points_from_xy(df['엑스좌표_값'], df['와이좌표_값'])
    gdf = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:5181")
    gdf = gdf.to_crs("EPSG:4326")

    # 변환된 좌표 열 추가
    df['new_x'] = gdf.geometry.y
    df['new_y'] = gdf.geometry.x

    return df

In [80]:
commercial = convert_coordinates(commercial)

In [81]:
commercial.shape

(105198, 15)

In [82]:
building_coordinates = list(zip(building['x'], building['y']))
commercial_coordinates = list(zip(commercial['new_x'], commercial['new_y']))

In [83]:
min_idx = 0
min_dist = 10000000000000000
building["commercial_row"] = None

for building_idx in range(len(building_coordinates)):
    for commercial_idx in range(len(commercial_coordinates)):
        dist = get_distance(building_coordinates[building_idx], commercial_coordinates[commercial_idx])
        if dist < min_dist:
            min_idx = commercial_idx
            min_dist = dist
    building.loc[building_idx, "commercial_row"] = min_idx
    min_idx = 0
    min_dist = 10000000000000000

In [84]:
building["commercial_row"].max()

105180

In [85]:
onehot = pd.get_dummies(commercial, columns = ['업종_명'])
onehot.columns

Index(['총_생활인구_수', '집객시설_수', '점포_수', '아파트_평균_면적', '아파트시가_log', '영업_개월_평균',
       '폐업_개월_평균', '매출_건수', '매출_log', '엑스좌표_값', '와이좌표_값', 'geometry', 'new_x',
       'new_y', '업종_명_가전제품_및_통신기기_도소매업', '업종_명_개인_서비스업', '업종_명_교육_및_사업자원_서비스업',
       '업종_명_기타_도소매업', '업종_명_기타_서비스업', '업종_명_부동산_및_임대업', '업종_명_생활용품_도소매업',
       '업종_명_수리업', '업종_명_숙박업', '업종_명_스포츠_및_오락_서비스업', '업종_명_식료품_도소매업',
       '업종_명_음식점_및_주점업', '업종_명_제조업', '업종_명_중고상품_도소매업'],
      dtype='object')

In [86]:
onehot['업종_명_가전제품_및_통신기기_도소매업'] = 0
onehot['업종_명_개인_서비스업'] = 0
onehot['업종_명_교육_및_사업자원_서비스업'] = 0
onehot['업종_명_기타_도소매업'] = 0
onehot['업종_명_기타_서비스업'] = 0
onehot['업종_명_부동산_및_임대업'] = 0
onehot['업종_명_생활용품_도소매업'] = 0
onehot['업종_명_수리업'] = 0
onehot['업종_명_숙박업'] = 0
onehot['업종_명_스포츠_및_오락_서비스업'] = 0
onehot['업종_명_식료품_도소매업'] = 0
onehot['업종_명_음식점_및_주점업'] = 0
onehot['업종_명_제조업'] = 0
onehot['업종_명_중고상품_도소매업'] = 0

In [87]:
onehot

,총_생활인구_수,집객시설_수,점포_수,아파트_평균_면적,아파트시가_log,영업_개월_평균,폐업_개월_평균,매출_건수,매출_log,엑스좌표_값,...,업종_명_기타_서비스업,업종_명_부동산_및_임대업,업종_명_생활용품_도소매업,업종_명_수리업,업종_명_숙박업,업종_명_스포츠_및_오락_서비스업,업종_명_식료품_도소매업,업종_명_음식점_및_주점업,업종_명_제조업,업종_명_중고상품_도소매업
0,0.011988,0.039963,0.002199,0.407273,0.586734,0.03,0.05,0.000119,0.573357,196193,...,0,0,0,0,0,0,0,0,0,0
1,0.011988,0.039963,0.002426,0.407273,0.586734,0.03,0.05,0.000050,0.564594,196193,...,0,0,0,0,0,0,0,0,0,0
2,0.011988,0.039963,0.001858,0.407273,0.586734,0.03,0.05,0.000029,0.458945,196193,...,0,0,0,0,0,0,0,0,0,0
3,0.011988,0.039963,0.002862,0.407273,0.586734,0.03,0.05,0.000107,0.571059,196193,...,0,0,0,0,0,0,0,0,0,0
4,0.011988,0.039963,0.000455,0.407273,0.586734,0.03,0.05,0.000262,0.655667,196193,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105193,0.079773,0.031599,0.000322,0.010909,0.391673,0.93,0.90,0.000092,0.577112,200025,...,0,0,0,0,0,0,0,0,0,0
105194,0.079773,0.031599,0.000474,0.010909,0.391673,0.93,0.90,0.000112,0.523103,200025,...,0,0,0,0,0,0,0,0,0,0
105195,0.079773,0.031599,0.031523,0.010909,0.391673,0.93,0.90,0.044199,0.817431,200025,...,0,0,0,0,0,0,0,0,0,0
105196,0.079773,0.031599,0.004606,0.010909,0.391673,0.93,0.90,0.005730,0.702630,200025,...,0,0,0,0,0,0,0,0,0,0
105197,0.079773,0.031599,0.004758,0.010909,0.391673,0.93,0.90,0.015478,0.780934,200025,...,0,0,0,0,0,0,0,0,0,0

In [88]:
import xgboost as xgb

xgb_model = xgb.Booster()
xgb_model.load_model('xgb_model_log_scaling.model')

In [89]:
xgb_model

In [90]:
X = onehot[["총_생활인구_수", "집객시설_수", "점포_수", "아파트_평균_면적", "아파트시가_log", "영업_개월_평균", "폐업_개월_평균", "매출_건수", '업종_명_가전제품_및_통신기기_도소매업',
       '업종_명_개인_서비스업', '업종_명_교육_및_사업자원_서비스업', '업종_명_기타_도소매업', '업종_명_기타_서비스업',
       '업종_명_부동산_및_임대업', '업종_명_생활용품_도소매업', '업종_명_수리업', '업종_명_숙박업',
       '업종_명_스포츠_및_오락_서비스업', '업종_명_식료품_도소매업', '업종_명_음식점_및_주점업', '업종_명_제조업'
]]
y = onehot["매출_log"]

sectors = ['업종_명_가전제품_및_통신기기_도소매업',
       '업종_명_개인_서비스업', '업종_명_교육_및_사업자원_서비스업', '업종_명_기타_도소매업', '업종_명_기타_서비스업',
       '업종_명_부동산_및_임대업', '업종_명_생활용품_도소매업', '업종_명_수리업', '업종_명_숙박업',
       '업종_명_스포츠_및_오락_서비스업', '업종_명_식료품_도소매업', '업종_명_음식점_및_주점업', '업종_명_제조업',
       ]
onehot.drop(["업종_명_중고상품_도소매업"], axis = 1)

max_value = 0
max_sector = None
max_sector_idx = 0

building["업종"] = None
building["업종_idx"] = None

dtest = xgb.DMatrix(X)

for idx in range(len(building)):
       commercial_idx = building.loc[idx, "commercial_row"]
       row = onehot.loc[commercial_idx].copy()
       
       for sector in sectors:
              row[sector] = 1
              data = xgb.DMatrix(row[X.columns].values.reshape(1, -1))  # DMatrix로 변환
              pred = xgb_model.predict(data, iteration_range=(0, xgb_model.best_iteration))
              row[sector] = 0

              if pred > max_value:
                     max_value = pred
                     max_sector = sector
                     max_sector_idx = sectors.index(sector)

       building.loc[idx, "업종"] = max_sector
       building.loc[idx, "업종_idx"] = max_sector_idx
       max_value = 0
       max_sector = None
       max_sector_idx = 0

In [91]:
building["업종_idx"].unique()

array([2, 0, 5, 8, 9, 6, 12, 7, 4, 3], dtype=object)

In [92]:
building.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0',
       '관리_건축물대장_PK', '관리_상위_건축물대장_PK', '새주소_지상지하_코드', '주소', '지상층수', '지하층수',
       '승강기_수', '주건축물수', '세대수', '가구수', '동명칭', '호_명', '층_구분_코드_x', '층_구분_코드_y',
       '층_번호', '면적', '용적율', '주차_대수', 'y', 'x', 'commercial_row', '업종',
       '업종_idx'],
      dtype='object')

In [95]:
building.drop(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)

In [96]:
building.drop(["commercial_row", "업종"], axis=1, inplace=True)

In [97]:
building.to_csv("data/building_with_sector.csv", index=False)

In [98]:
building

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,지상층수,지하층수,승강기_수,주건축물수,세대수,가구수,...,호_명,층_구분_코드_x,층_구분_코드_y,층_번호,면적,용적율,주차_대수,y,x,업종_idx
0,11530-602,NaN,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,5.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,174.92,3421.0,126.874649,37.500971,2
1,11590-100241986,11590-100241435,지상,서울특별시 동작구 사당로23길 112,1.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,126.973171,37.489084,2
2,11530-7503,NaN,지상,서울특별시 구로구 구로중앙로 217,8.0,1.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,369.18,49.0,126.876609,37.504982,2
3,11530-2719,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,3.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,126.826584,37.500170,2
4,11530-2718,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,1.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,126.826584,37.500170,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28353,11680-6654,NaN,지상,서울특별시 강남구 삼성로58길 13,3.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,127.062407,37.498834,2
28354,11680-3623,NaN,지상,서울특별시 강남구 압구정로 154,5.0,2.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,146.11,11.0,127.026526,37.525830,2
28355,11680-21413,NaN,지상,서울특별시 강남구 광평로42길 4,1.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,127.098559,37.485602,2
28356,11680-100241229,NaN,지상,서울특별시 강남구 삼성로120길 12-9,2.0,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,67.15,6.0,127.053280,37.516731,2
28357,11230-26572,NaN,지상,서울특별시 동대문구 망우로12가길 3,2.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,127.059338,37.588724,2